@model List<ProyectoPrograAvanzada.Entidades.Habitaciones>
@{
    ViewBag.Title = "MostrarHabitaciones";
}



<div class="card shadow mb-4 mt-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Habitaciones</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }

                        <div style="margin-bottom:1%; text-align:right">
                            <a class="btn btn-primary" href="@Url.Action("RegistroHabitaciones","Habitaciones")"> + Agregar</a>
                        </div>

                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>ID Habitación</th>
                                    <th>Tipo</th>
                                    <th>Capacidad</th>
                                    <th>Tarifa</th>
                                    <th>Imagen</th>
                                    <th>Disponibilidad</th>
                                    <th>Localidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td>@item.ID_habitacion</td>
                                        <td>@item.tipo_habitacion</td>
                                        <td>@item.capacidad</td>
                                        <td>@item.tarifa</td>
                                        <td><img src="@item.img" style="width: 100px;" /></td>
                                        @if (item.disponibilidad)
                                        {
                                            <td>Disponible</td>
                                        }
                                        else
                                        {
                                            <td>No disponible</td>
                                        }
                                        <td>@item.nombre_localidad</td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("ActualizarHabitaciones","Habitaciones", new { id = @item.ID_habitacion })">ACTUALIZAR</a>
                                            @if (item.disponibilidad)
                                            {
                                            <a href="@Url.Action("EliminarHabitaciones","Habitaciones", new { id = @item.ID_habitacion })">ELIMINAR</a>
                                        }
                                            
                                            </td>
                                        </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Estilos/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            }
        });
    });
</script>
