@model List<ProyectoPrograAvanzada.Entidades.Habitaciones>

@{
    ViewBag.Title = "ConsultarUHabitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Usuarios</h6>
            <h1>Selección de Habitación</h1>
        </div>
        <div class="row">

            @if (ViewBag.MsjPantalla != null)
            {
                <div class="alert alert-warning" role="alert" style="text-align:center">
                    @ViewBag.MsjPantalla
                </div>
            }

            @foreach (var habitacion in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="@habitacion.img" alt="imagen de habitacion" style="width: 500px; height: 200px;">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@habitacion.nombre_localidad</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>@habitacion.capacidad</small>
                            </div>
                            <a class="h5 text-decoration-none" href="@Url.Action("RegistroFinalUHabitacion","UHabitaciones", new { id = @habitacion.ID_habitacion })"> @habitacion.tipo_habitacion</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">@habitacion.tarifa</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Packages End -->