@model List<ProyectoPrograAvanzada.Entidades.Opiniones>

@{
    ViewBag.Title = "MostrarOpiniones";
}
<div class="container">
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="text-align: center;">Opiniones</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <div style="margin-bottom:1%; text-align:right">
                            <a class="btn btn-primary" href="@Url.Action("RegistrarOpiniones","Opiniones")"> + Agregar</a>
                        </div>
                        <style>
                            .card-title {
                                background-color: #7AB730;
                                color: white;
                                padding: 10px;
                                margin-bottom: 10px;
                                text-align: center;
                                border-radius: 3%;
                            }

                            .card-content {
                                padding: 10px;
                                text-align: center;
                            }

                            .opinion-container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: wrap;
                            }

                            .opinion-column {
                                flex-basis: calc(33.33% - 20px);
                                margin-bottom: 20px;
                            }

                            .card {
                                height: 100%;
                            }
                        </style>

                        <div class="opinion-container">
                            @foreach (var item in Model)
                            {
                                <div class="opinion-column">
                                    <div class="card card-square shadow" style="border-radius: 0;">
                                        <div class="card-title">
                                            <h5>ID de la Opinion: @item.ID_opinion</h5>
                                        </div>
                                        <div class="card-content">
                                            <p><strong>ID del Usuario:</strong> @item.id_usuario</p>
                                            <p><strong>ID de la reserva:</strong> @item.ID_reserva</p>
                                            <p><strong>Opinion acerca de la reserva:</strong></p>
                                            <p>@item.opinion_texto</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
