@model ProyectoPrograAvanzada.Entidades.Usuarios

@{
    ViewBag.Title = "InicioSesion";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}


<div class="container">
    <div class="row justify-content-center" >
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="logo text-center mt-5">
                        <h1>Stay Smart</h1>
                        <hr style="margin: 20px 20px;border: 2px solid light00grey"/>
                    </div>
                    <div class="row">

                        <div class="col-lg-3 d-none d-lg-block"></div>
                        <div class="col-lg-6">
                            <div class="p-5">

                                <div class="text-center">
                                    <h3 class="h4 text-gray-900 mb-4">Iniciar Sesión</h3>
                                </div>

                                @if (ViewBag.MsjPantalla != null)
                                {
                                    <div class="alert alert-warning" role="alert" style="text-align:center">
                                        @ViewBag.MsjPantalla
                                    </div>
                                }

                                @using (Html.BeginForm("InicioSesion", "Inicio"))
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.correo_electronico, new { @class = "form-control form-control-user", @placeholder = "Correo" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.contrasena, new { @class = "form-control form-control-user", @placeholder = "Contraseña" })
                                    </div>

                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Iniciar Sesión">
                                }

                                <hr>

                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Registro","Inicio")">Crear cuenta</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("RecuperarAcceso","Inicio")">recuperar acceso</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

